.direction-card {
  position: relative;
  overflow: hidden;

  &__text-content {
    position: absolute;
    top: 180px;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    flex-direction: column;
    background-color: $business-direction-cards-background;
    color: $white-1;
    transition: top .3s ease-in-out;

    &__hovered-or-taped {
      top: 0;

      .direction-card__description {
        opacity: 1;
      }
    }
  }

  &__title {
    display: flex;
    height: 80px;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
  }

  &__description {
    opacity: 0;
    font-size: 17px;
    line-height: 140%;
    transition: opacity .3s ease-in-out;
  }
}
