.advantages-item {
  display: flex;
  width: fit-content;
  max-width: 243px;
  flex-direction: column;
  row-gap: 6px;

  &__title-wrapper {
    display: flex;
    opacity: .95;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;
    white-space: nowrap;
    color: $accent-2;

    @include media-small {
      column-gap: 4px;
    }
  }

  &__title {
    font-size: 80px;
    line-height: 80%;

    @include media-large {
      font-size: 48px;
    }

    @include media-small {
      font-size: 40px;
    }
  }

  &__prefix,
  &__postfix {
    font-size: 64px;
    line-height: 98%;

    @include media-large {
      font-size: 48px;
      line-height: 80%;
    }

    @include media-small {
      font-size: 30px;
    }
  }

  &__description {
    width: 100%;
    max-width: 206px;
    line-height: 114%;

    @include media-large {
      max-width: 200px;
      font-size: 16px;
      text-align: center;
    }

    @include media-small {
      line-height: 120%;

    }
  }

  @include media-large {
    align-items: center;
  }

  @include media-extra-small {
    row-gap: 7px;

    &:nth-child(3) {
      padding-right: 36px;
    }
  }
}
