.business-directions {
  margin-bottom: 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 55px;

    h2 {
      text-align: center;
    }
  }

  @include media-extra-small {
    margin-bottom: 50px;
  }
}
