mixin svgIcon(name)
  if name === 'dms'
    include Icons/dms.pug
  if name === 'birthday'
    include Icons/birthday.pug
  if name === 'phone'
    include Icons/phone.pug
  if name === 'dumbbell'
    include Icons/dumbbell.pug
  if name === 'lti'
    include Icons/lti.pug
  if name === 'print'
    include Icons/print.pug
  if name === 'house'
    include Icons/house.pug
