mixin svgIcon(name)
  if name === 'dms'
    include Icons/compensation-package/dms.pug
  if name === 'birthday'
    include Icons/compensation-package/birthday.pug
  if name === 'phone'
    include Icons/compensation-package/phone.pug
  if name === 'dumbbell'
    include Icons/compensation-package/dumbbell.pug
  if name === 'lti'
    include Icons/compensation-package/lti.pug
  if name === 'print'
    include Icons/compensation-package/print.pug
  if name === 'house'
    include Icons/compensation-package/house.pug
  if name === 'arrow-left'
    include Icons/button-arrow-left.pug
  if name === 'arrow-right'
    include Icons/button-arrow-right.pug
