@import 'Components/advantages-item/advantages-item.scss';

.advantages {
  margin-bottom: 98px;

  &__wrapper {
    display: flex;
    padding: 0 110px;
    flex-direction: column;
    align-items: center;
    row-gap: 85px;
  }

  &__row {
    display: flex;
    column-gap: 185px;

    &_short {
      column-gap: 180px;
    }
  }
}
