header.header
  .container
    .header__wrapper
      include Components/logo/logo.pug
      +logo()(class='header__logo')
      ul.header__just-words
        li Облачные решения
        li Кибербезопасность
        li Импортозамещение
        li Цифровая трансформация

