section.about
  .container
    .about__wrapper
      p.about__text
        span.about__text_accented Softline
        span  – ведущий поставщик IT-решений и сервисов.* Мы предлагаем комплексные IT-решения, облака, программное и аппаратное обеспечение, решения по цифровой трансформации и кибербезопасности, а также широкий спектр IT-услуг.

