section.offices
  .container
    .offices__wrapper
      .offices__header
        .offices__select
          .offices__select-title Офисы Softline
          .offices__select-arrow
            include Icons/select-arrow.pug
        .offices__regions(id='offices-regions')
      .offices__map

