section.offices
  .container
    .offices__wrapper
      .offices__header
        .offices__backdrop(id='offices__backdrop', class='offices__backdrop_fade visually-hidden')
        .offices__select(id='offices__select')
          .offices__select-title Офисы Softline
          .offices__select-arrow
            include Icons/select-arrow.pug
        .offices__regions(id='offices-regions')
        .offices__dropdown(id='offices-dropdown', class='offices__dropdown_move visually-hidden')
      .offices__map-wrapper
        .offices__map(id='offices-map')

