.offices {
  margin-bottom: 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
  }

  &__header {
    display: flex;
    padding: 28px 70px;
    align-items: center;
    justify-content: space-between;
    background-color: $white-1;
    @include shadow($shadow-offices-header);
  }

  &__select {
    display: flex;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
    transition: color .3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: $accent-hover;

        svg path {
          stroke: $accent-hover;
        }
      }
    }
  }

  &__select-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
  }

  &__select-arrow {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;

    svg path {
      transition: stroke .3s ease-in-out;
    }
  }

  &__regions {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
  }

  &__map {
    position: relative;
    width: 100%;
    height: 600px;
    background: url("Images/map.svg") center no-repeat;
    background-size: contain;
  }

  &__city-point {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: $radius-2;
    background-color: $black-1;
  }

  &__city-point-name {
    position: absolute;
    left: 50%;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    transform: translateX(-50%);

    @mixin modifierStyles($font-size, $indent) {
      font-size: $font-size;
      bottom: -(calc($font-size + $indent));
    }

    &_small {
      @include modifierStyles(12px, 2px);
    }

    &_medium {
      @include modifierStyles(14px, 2px);
    }

    &_large {
      @include modifierStyles(16px, 4px);
    }
  }
}
