.compensation-package-item {
  display: flex;
  width: 100%;
  max-width: 178px;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  @include media-medium {
    width: 80px;
    max-width: 120px;
    height: 80px;

    &:nth-child(5) {
      svg {
        width: 50px !important;
      }
    }
  }

  &__circle {
    display: flex;
    width: 110px;
    height: 110px;
    border-radius: $radius-2;
    align-items: center;
    justify-content: center;
    background-color: $icons-background-color;

    svg {
      path {
        stroke: $accent;
      }

      @include media-medium {
        width: 35px;
        height: auto;
      }
    }


    @include media-medium {
      width: 80px;
      height: 80px;
    }
  }

  &__title {
    text-align: center;
    line-height: 110%;

    @include media-medium {
      font-size: 16px;
    }
  }
}
