@import 'Components/carousel-item/carousel-item.scss';

.corporate-life {
  &__row {
    display: flex;
    margin-bottom: 55px;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    column-gap: 20px;
  }

  &__carousel {
    margin-bottom: 28px;
  }
}
